body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content {
  width: 75%;
}

h1 {
  font-size: xx-large ;
}

.text {
position: relative;
font-size: medium;
float: left;
width: 40%;
}

.photo>img {
  position: absolute;
  right: 0;
  width: 400px;
  border: solid 2px #454545;
}
