body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content {
  width: 75%;
}

h1 {
  font-size: xx-large ;}

  .text {
  font-size: medium;
  float: left;
  width: 40%;
}

.photo {
  float: left;
  width: 400px;
  border: solid 2px #454545;
}
